.container {
  align-items: center;
  text-align: center;
  width: 100%;
}

.container .card {
  background-color: rgb(233, 233, 233);
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.send button {
  margin: 10px;
}
